<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login here</title>
    <style>
      * {
        color: white;
      }
      form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 300px;
      }

      .inner-div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 400px;
      }

      input {
        width: 250px;
        height: 27px;
        font-size: 18px;
        /* color: black; */
        outline: none;
        /* border-radius: 10px; */
        border: none;
        border-bottom: 1px solid blue;
        background-color: transparent;
      }
      button {
        color: white;
        background-color: blue;
        width: 90px;
        height: 35px;
      }
    </style>
  </head>
  <body style="background-color: black">
    <h1 style="color: white; background-color: gray; text-align: center">
      Login Here
    </h1>

    <form method="post" action="http://localhost:8080">
      <div class="inner-div">
        <label for="email">Email</label>
        <input type="text" name="email" placeholder="Enter Your Email" required />
      </div>
      <div class="inner-div">
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          placeholder="Enter Your Password"
          required
        />
      </div>
      <button>Login</button>

      <a href="http://localhost:8080/register" style="text-align: center"
        >Register!</a
      >
    </form>
  </body>
</html>
